.CountryList {
  max-width: var(--max-width-desktop);
  margin: 40px auto;
  padding: 0 30px;
  font-size: 14px;
}

.CountryList-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.CountryList-filter input,
.CountryList-filter select {
  height: 3rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  font-size: 16px;
  background-color: var(--element-color);
  color: var(--input-color);
  transition: background-color 0.2s, color 0.5s;
}

.CountryList-filter input {
  min-width: 400px;
  padding-left: 50px;
}

.CountryList-filter select {
  width: 200px;
  padding-left: 20px;
  appearance: none;
}

.CountryList-search,
.CountryList-select {
  position: relative;
  margin-left: 0;
}

.CountryList-search i {
  color: var(--input-color);
  position: absolute;
  left: 16px;
  top: 16px;
  transition: color 0.5s;
}

.CountryList-select i {
  color: var(--input-color);
  position: absolute;
  right: 16px;
  top: 16px;
  transition: color 0.5s;
  pointer-events: none;
}

.CountryList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}