.CountryList {
  max-width: 1440px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid blue;
}

.CountryList-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.CountryList-filter * {
  height: 2rem;
}

.CountryList-filter input {
  min-width: 400px;
}

.CountryList-filter select {
  width: 300px;
}

/* .CountryList-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(264px, 1fr));
  justify-items: center;
  gap: 40px;
} */


.CountryList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}