.CountryCard {
  height: 335px;
  background-color: var(--element-color);
  transition: background-color 0.2s;
}

.CountryCard:hover {
  background-color: var(--hover-color);
}

.CountryCard-link {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.CountryCard-flag {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.CountryCard-detail {
  padding: 20px;
}

.CountryCard-detail h3 {
  margin-bottom: 1rem;
}

.blank {
  height: 0;
}

@media (max-width: 900px) {
  .CountryCard {
    /* height: 670px; */
  }
}