.Header {
  padding: 20px 30px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: var(--element-color);
  transition: background-color 0.2s;
}

.Header-content {
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Header-theme-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}


@media (max-width: 640px) {
  .Header {
    min-width: 380px;
  }
}